<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250291154837-e5frvro3pg2d5vlb2g4obnb65dam38vf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250291154837-e5frvro3pg2d5vlb2g4obnb65dam38vf</string>
	<key>API_KEY</key>
	<string>AIzaSyBCBQOcjvwGpb49iAmqJKymkxOGLyqPcUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>250291154837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waseem.hassan</string>
	<key>PROJECT_ID</key>
	<string>islam786-469fe</string>
	<key>STORAGE_BUCKET</key>
	<string>islam786-469fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250291154837:ios:56c6c0b16a3952b0e3d09c</string>
</dict>
</plist>